@charset "utf-8";
/*					
	Author		CrystalCommerce.com // Ross Dallaire
	
	Colors
*/

/* RESET */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, code,
del, dfn, em, img, q, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
}

em {
	font-style: italic;
}

strong {
	font-weight: bold;
}

html,
body {
	margin:0;
	padding:0;
	height:100%;
}
/* /END RESET */

/* remove dotted lines on some links in FF browser */

a,
a:active,
a:visited,
a img {
	outline: none;
}

/* / */
	
/* CLEARFIX */
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix {
	display: inline-block;
}
 
html[xmlns] .clearfix {
	display: block;
}
 
* html .clearfix {
	height: 1%;
}
/* /END CLEARFIX */


html { 
  /* this royalty-free image from https://www.pexels.com/photo/glass-milk-drink-pouring-8696/ */
  background: url(glass-milk.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
	font-family:Arial, Helvetica, sans-serif;
}

h1 {
	font-size: 2em;
	margin: 0 0 30px;
	font-weight: normal;
}

#wrapper {
	margin-left: auto;
	margin-right: auto;
	margin-top:160px;
	width:600px;
	border: 1px solid black;
	padding:16px;
	background-color:#fff;
	background-color:rgba(255,255,255,0.5);
}

input[type="text"] {
	display: block;
	margin: 0;
	width: 100%;
	font-family: sans-serif;
	font-size: 18px;
	appearance: none;
	box-shadow: none;
	border-radius: none;
	padding: 10px;
  	border: solid 1px #6496c8;
  	transition: box-shadow 0.3s, border 0.3s;
  	margin-top:16px;
}
input[type="text"]:focus {
	outline: none;
}
input[type="text"]:focus,
input[type="text"].focus {
  border: solid 1px #346392;
  box-shadow: 0 0 5px 1px #969696;
}

button {
  display: inline-block;
  margin: 10px 0 0 0;
  padding: 8px 8px;
  font-size: 24px;
  font-family: "Bitter",serif;
  line-height: 1.3;
  appearance: none;
  box-shadow: none;
  border-radius: 0;
  color: #dff;
  background: rgba(0,0,0,0);
  border: solid 2px #dff;
}

button:focus {
  outline: none
}
button:hover,
button.hover {
  border-color: #ede;
  color: #ede;
}
button:active,
button.active {
  border-color: #27496d;
  color: #27496d;
}

#tl {
	font-size:0.5em;
	color:#ccc;
	font-style: italic;
	float:right;
}

#footer {
	padding: 16px 2px 0;
}

.outlink {
	color: #fdfdfd;
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: none;
}